.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background-color: rgb(182, 175, 175);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.inpCaption{
  font-size:2vw;
  border-radius:2px;
}
.uploadPostBtn{
  background-color:#fb3958;
  color:white;
  min-width:10%;
  border-radius:2px;
  border:none;
}
.profile{
  border: 1px solid black;
}
.uploadPost{
  border:1px solid gray;
  padding:10%;
}
.uploadedImage{
  height:10%;
  margin:5%;
}
.followings{
  /* border:2px solid gray; */
  /* float:left; */
  color:gray;
  font-feature-settings:"vrt2";
  width: 20%;
  margin-left:40%;
  margin-right:40%;
}
.UserListHeading{
  text-align:left;
  font-size:2.4vw;
  margin-left:5%;
  font-weight: lighter;
  font-stretch: ultra-condensed;
}
.usersList{
  /* border:1px solid gray; */
  padding:5%;
}
.searchResultUsername{
  margin-top:1%;
  background-color:#fb3958;
  color:white;
  border-radius:5px;
  margin-left:40%;
  min-width: 20%;
  float:left;
  border:none;
}
.follProfile{
  width:50%;
  border:none;
  outline:none;
  background-color:white;
  color:rgb(76, 103, 163);
  font-size:2vw;
  font-variant-caps: petite-caps;
  margin-top:1%;
  margin-right:10%;
  text-align:left;
}
.hiddenClass{
  display:none;
}
.postHeadingProfiele{
  font-size:3vw;
  font-weight: lighter;
  text-align:left;
  margin-left:15%;
  font-feature-settings:"vrt2";
}
.follHead{
  font-size:2vw;
  font-weight: unset;
  margin:5%;
}
.followers{
  /* border:2px solid gray; */
  font-feature-settings:"vrt2";
  color:gray;
  width: 20%;
  margin-left:40%;
  margin-right:40%;
}
.postHeadingProfiele{
  font-size:3vw;
  font-weight: lighter;
  text-align:left;
  margin-left:15%;
  font-feature-settings:"vrt2";
}
.signinForm{
  border-radius:5px;
  border:0.5px solid gray;
  padding:1%;
  margin:5%;
  margin-top:16%;
  background-color:white;
}
.logInForm{
  border-radius:5px;
  border:0.5px solid gray;
  padding:1%;
  margin:5%;
  margin-top:16%;
  background-color:white;
}
.logo{
  max-width: 95%;
  border-radius:50px;
}
.navLogo{
  max-width:30%;
  
}
.postHolder{
  text-align: left;
  margin-left:10%;
  margin-top:2%;
  font-weight: bold;
  font-family: helvetica;
  font-size:2vw;
}
.postImage{
  max-width: 95%;
}
.post{

  border: 0.5px solid silver;
  border-radius:2px;
  margin-left:15%;
  margin-right:15%;
  margin-top:5%;
}
.signinText{
  color:rgb(138, 130, 130);
  font-family:helvetica;
  font-weight: bold;
}
.inpInSignIn{
  margin:1%;
  width:50%;
  border-radius:5px;
  outline:none;
  border:1px solid gray;
}
.inpInSearch{
  max-width:20vw;
  margin-left:2%;
  border-radius:5px;
  outline:none;
  font-size:2vw;
  border:1px solid gray;
}
.submitBtn{
  margin:1%;
  width:50%;
  background-color: #007bff;
  color:white;
  border-radius:5px;
  outline:none;
  border:none;
}
.caption{
  font-family:helvetica;
  font-weight: initial;
  text-align:left;
  margin-left:10%;
  margin-bottom:2%;
  font-size:1.8vw;
  font-variant:inherit;
}
.switchBtn{
  margin:1%;
  width:50%;
  background-color: #007bff;
  color:white;
  border-radius:5px;
  outline:none;
  border:none;
}
.App-link {
  color: #61dafb;
}
.RequestHeading{
  font-size:2.4vw;
  font-weight:lighter ;
  font-variant-ligatures:no-common-ligatures ;
  text-align:left;
}
.requests{
  border:1px solid gray;
  border-radius:2px;
  margin-left:5%;
  margin-right:10%;
  padding:5%;
}
.profileFollowText{
  font-size:2vw;
  background-color:white;
  border:none;
}
.followButton{
  background-color:rgb(20, 106, 192);
  border-radius: 5px;
  border:none;
  color:white;
}.acceptButton{
  background-color:rgb(20, 106, 192);
  border-radius: 2px;
  border:none;
  color:white;
}
.request{
  margin-top:1%;
  
}
.requestHolder{
  font-size:1.8vw;
  font-weight:inherit ;
  margin-right:5px;
}
.profileHolder{
  text-align:left;
  font-size:4vw;
  font-style:inherit;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
